body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Navigation bar */

.navbar {
  padding: 1rem 12rem 0;
  background: #ff4c68;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Dowload Buttons */
.download-btn {
  margin: 5% 4% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature section */
#features {
  background-color: #fff;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8179;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA section  */
#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* footer section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  padding: 20px 15px;
}

/* @media Query section */
@media (max-width: 1096px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .navbar {
    padding: 0 1.5rem;
  }
}
