body {
  font-family: "Montserrat";
  text-align: center;
}

/* Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.big-headings {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

/* Navigation bar */

.navbar {
  padding: 1rem 12rem 0;
  background: #ff4c68;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.container-fluid {
  padding: 7% 15%;
}

/* Dowload Buttons */
.download-btn {
  margin: 5% 4% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature section */
#features {
  background-color: #fff;
  position: relative;
}
.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8179;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.card-title {
  font-size: 1.5rem;
}

/* CTA section  */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* footer section */
.social-icon {
  padding: 20px 15px;
}

/* @media Query section */
@media (max-width: 1096px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .navbar {
    padding: 0 1.5rem;
  }
}
